<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>zoeetrope.com</title>
  <meta name="description" content="The personal homepage of Zoee Silcock.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="stylesheet" href="styles.css">
</head>
  <body>
    {{{content}}}
  </body>
  <!--
    Wow, you're awfully curious aren't you? As a gift I would like to provide
    you a quote by the late great Terence McKenna: http://zoeetrope.com/egg.wav
  -->
</html>
