<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>zoeetrope.com</title>
    <meta name="description" content="Hi, I am Zoee Silcock and this is my little corner of the wondrous thing that we call the internet.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      {{>styles}}
    </style>
    <link rel="icon" href="data:,">
  </head>
  <body>
    {{>content}}
    <p id="copyright">Copyright Zoee Silcock</p>
  </body>
  <!--
    Wow, you're awfully curious aren't you? As a gift I would like to provide
    you a quote by the late great Terence McKenna: https://zoeetrope.com/egg.wav
  -->
</html>
